.page{
  text-align: center;
  background-image: url("../desktop2.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.login{
    align-items: center;
    justify-content: center;
    margin: auto;
    color: rgb(15, 15, 15);
    height: 70vh;
    width: 30%;
    background-image: url("../isuri.jpeg");
    background-size: cover;
    border-radius: 22px;

    
}
.login h2{
    font-size: 30px;
    padding-top: 50px;
}

.admin-main {
    text-align: center;
    background-color: white !important;
    display: flex;
    flex-direction: column;
    
    font-size: calc(10px + 2vmin);
    font-family: 'Sansita';
    
    
    
    color: rgb(15, 15, 15);
}
.admin-main h3{
    
    padding-top: 100px;
    padding-bottom:50px ;
}
.btnp{
    margin-top: 10px;
    margin-left:0;
    font-size: 10px;
}
.grid-container {
    display: grid;
    grid-template-columns: 40% 60% ;
    grid-template-rows: 55vh ;
    padding: 50px 50px ;
    font-size: calc(10px + 2vmin);
  }
.item {
    
    align-items: center;
    font-size: 15px;
    padding-top: 20px;
    text-align: center;
    color: black;
  }
.titlear{
    
    width: 70vw;
    text-align: center;
    font-size: 10px;
}
.item p{
   
    padding: 0px 40px 40px 40px;
    font-size: 15px;
}