.toptitle{
  padding:0;
  text-align: left;
}

/*LOGO ROTATION*/
.container{
  width:100px;
  height:100px;
  
  
  display:flex;
  
}
.connexa{
  width: 70px;
  height:70px;
  display: inline-block;
}
.react-logo{
  display: inline-block;
  border-radius:50%;
  animation-name:rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin:20px 23vw;
  pointer-events: none;
  user-select: none;

}

.react-logo , .react-logo:before , .react-logo:after{
  position:absolute;
  display: inline-block;
  width:50px;
  height:10px;
  pointer-events: none;
  user-select: none;
  
  
}

.nucleo , .react-logo , .react-logo:before , .react-logo:after {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  user-select: none;
}

.nucleo{
  width:20px;
  height:20px;
  
  
}

.react-logo:before , .react-logo:after{
  content:"";
}

.react-logo:after{
  transform:rotate(-57deg);
}

.react-logo:before{
  transform:rotate(57deg);
}



@keyframes rotate{

  100%{
    transform:rotate(360deg);
  }
}






.Signin-Main{
  text-align: left;
  background-image: url("../desktop2.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.proctorlogin{
  height: 98vh;
  width: 92vw;
  background-image: url("../Connexa\ \(2\).png") ;
  background-size:92vw  100vh ;
  background-repeat: no-repeat;
  border-radius: 22px;
 
  margin: auto;
}
.logoimage{
  height:50%;
}
.login-button p{
  padding-bottom: 0px;
}
/*.titlearea{
  float: left;
  font-size: 40px;
  height: 100%;
  padding-top: 0px;
  text-align: left;
  color: black;
 
}

.grid-container {
  display: flex;
  align-items: flex-start;
  
  
}
.grid-item {
  display: flex;
  align-items: stretch;
  column-gap:20px;

  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 22px;
  width: 50%;
  font-size: 20px;
  padding-left: 20px;
  text-align: left;
  color: black;
}*/
.lbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 73vh;
  color: #3b3a3a;
   
  
}

/*.box-item{
  height:100vh;
  width:10%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: 'left';
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 22px;
  font-size: 20px;
}*/


 
/*.box-item h6{
  display: flex;
  flex-direction: row;
  color: #4e4b4b;
  
  font-size: 13px;
  
}

.box-item h6:before,
.box-item h6:after {
  
  content: "";
  flex: 1 1;
  margin:auto;
  border-bottom: 1px solid #4e4b4b;
 
}*/
/*LOGIN BUTTON (temporary- have to find a solution which works for routing!)*/
body span.switcher-login {
    padding-top: 25px;
    position: relative;
    width: 60px;
    height: 30px;
    border-radius: 25px;
    margin: 0px 0px;
    font-size: 20px;
    text-align: center;
  }
  body span.switcher-login input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    
    width: 135px;
    height: 37px;
    border-radius: 25px;
    background-color: #006666;
    outline: none;
    font-family: "Sansita";
    text-align: center;
  }
  body span.switcher-login input:before, body span.switcher-login input:after {
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #FFFFFF;
  }
  body span.switcher-login input:before {
    content: "Sign in";
    
    left: 20px;
  }
  body span.switcher-login input:after {
    content: "Register";
    right: 20px;
  }
  body span.switcher-login label {
    z-index: 1;
    position: absolute;
    top: 10px;
    bottom: 10px;
    border-radius: 20px;
  }
  body span.switcher-login.switcher-l1 input {
    transition: 0.25s -0.1s;
  }
  body span.switcher-login.switcher-l1 input:not(:checked) {
    background-color: #FFFFFF;
  }
  body span.switcher-login.switcher-l1 input:not(:checked):before {
    color: #FFFFFF;
    transition: color 0.5s 0.2s;
  }
  body span.switcher-login.switcher-l1 input:not(:checked):after {
    color: #4e4b4b;
    transition: color 0.5s;
  }
  body span.switcher-login.switcher-l1 input:not(:checked) + label {
    left: 10px;
    right: 70px;
    background: #006666;
    transition: left 0.5s, right 0.4s 0.2s;
  }
  body span.switcher-login.switcher-l1 input:checked {
    background: #f3f3f3;
    transition: background 0.5s -0.1s;
  }
  body span.switcher-login.switcher-l1 input:checked:before {
    color: #4e4b4b;
    transition: color 0.5s;
  }
  body span.switcher-login.switcher-l1 input:checked:after {
    color: #ffffff;
    transition: color 0.5s 0.2s;
  }
  body span.switcher-login.switcher-l1 input:checked + label {
    left: 70px;
    right: 10px;
    background: #006666;
    transition: left 0.4s 0.2s, right 0.5s, background 0.35s -0.1s;
  }
  /*END OF STUPID WEIRD BUTTON login*/