.Portal {
    text-align: center;
    
    color: rgb(15, 15, 15);
}
.main h2{
    padding-top: 30px;
    font-size: 30px;
}
.main{
    height: 50vh;
    width: 60%;
    background-image: url("../isuri.jpeg");
    margin: auto;
    background-attachment: fixed;
    background-position: center;
    border-radius: 22px;
    
}
.options{
    padding-top: 35px;
}