@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');
.App {
  text-align: center;
  background-image: url("desktop2.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Sansita';
  color: white;
}
.login-reg{
  height: 70vh;
  width: 50vw;
  background-image: url("isuri.jpeg");
  background-size: cover;
  border-radius: 22px;
}
.nav-buttons{
  width: 100%;
  height: 10px;
  text-align: right;
  opacity:1;
  margin-bottom: 3em;
}
.titlearea{
  float: left;
  font-size: 40px;
  height: 100%;
  padding-top: 50px;
  text-align: left;
  color: black;
 
}

.grid-container {
  display: grid;
  grid-template-columns: 40% 60% ;
  grid-template-rows: 55vh ;
  padding: 0px 50px ;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 22px;
  grid-column-start: 2;
  font-size: 20px;
  padding-left: 20px;
  text-align: left;
  color: black;
}

/*THE STUPID WEIRD BUTTON for reg page*/
.login-button{
  margin-right: 50px;
  margin-top: 10px;
}
body span.switcher {
  padding-top: 25px;
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 25px;
  margin: 0px 0px;
  font-size: 20px;
  text-align: center;
}
body span.switcher input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  
  width: 135px;
  height: 37px;
  border-radius: 25px;
  background-color: #35A78C;
  outline: none;
  font-family: "Sansita";
  text-align: center;
}
body span.switcher input:before, body span.switcher input:after {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #FFFFFF;
}
body span.switcher input:before {
  content: "Log In";
  
  left: 20px;
}
body span.switcher input:after {
  content: "Register";
  right: 20px;
}
body span.switcher label {
  z-index: 1;
  position: absolute;
  top: 10px;
  bottom: 10px;
  border-radius: 20px;
}
body span.switcher.switcher-1 input {
  transition: 0.25s -0.1s;
}
body span.switcher.switcher-1 input:checked {
  background-color: #FFFFFF;
}
body span.switcher.switcher-1 input:checked:before {
  color: #FFFFFF;
  transition: color 0.5s 0.2s;
}
body span.switcher.switcher-1 input:checked:after {
  color: #4e4b4b;
  transition: color 0.5s;
}
body span.switcher.switcher-1 input:checked + label {
  left: 10px;
  right: 70px;
  background: #35A78C;
  transition: left 0.5s, right 0.4s 0.2s;
}
body span.switcher.switcher-1 input:not(:checked) {
  background: #f3f3f3;
  transition: background 0.5s -0.1s;
}
body span.switcher.switcher-1 input:not(:checked):before {
  color: #4e4b4b;
  transition: color 0.5s;
}
body span.switcher.switcher-1 input:not(:checked):after {
  color: #ffffff;
  transition: color 0.5s 0.2s;
}
body span.switcher.switcher-1 input:not(:checked) + label {
  left: 70px;
  right: 10px;
  background: #35A78C;
  transition: left 0.4s 0.2s, right 0.5s, background 0.35s -0.1s;
}
/*END OF STUPID WEIRD BUTTON for reg page*/
/*LOGIN BUTTON (temporary- have to find a solution which works for routing!)*/
body span.switcher-login {
  padding-top: 25px;
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 25px;
  margin: 0px 0px;
  font-size: 20px;
  text-align: center;
}
body span.switcher-login input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  
  width: 135px;
  height: 37px;
  border-radius: 25px;
  background-color: #35A78C;
  outline: none;
  font-family: "Sansita";
  text-align: center;
}
body span.switcher-login input:before, body span.switcher-login input:after {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #FFFFFF;
}
body span.switcher-login input:before {
  content: "Log In";
  
  left: 20px;
}
body span.switcher-login input:after {
  content: "Register";
  right: 20px;
}
body span.switcher-login label {
  z-index: 1;
  position: absolute;
  top: 10px;
  bottom: 10px;
  border-radius: 20px;
}
body span.switcher-login.switcher-l1 input {
  transition: 0.25s -0.1s;
}
body span.switcher-login.switcher-l1 input:not(:checked) {
  background-color: #FFFFFF;
}
body span.switcher-login.switcher-l1 input:not(:checked):before {
  color: #FFFFFF;
  transition: color 0.5s 0.2s;
}
body span.switcher-login.switcher-l1 input:not(:checked):after {
  color: #4e4b4b;
  transition: color 0.5s;
}
body span.switcher-login.switcher-l1 input:not(:checked) + label {
  left: 10px;
  right: 70px;
  background: #35A78C;
  transition: left 0.5s, right 0.4s 0.2s;
}
body span.switcher-login.switcher-l1 input:checked {
  background: #f3f3f3;
  transition: background 0.5s -0.1s;
}
body span.switcher-login.switcher-l1 input:checked:before {
  color: #4e4b4b;
  transition: color 0.5s;
}
body span.switcher-login.switcher-l1 input:checked:after {
  color: #ffffff;
  transition: color 0.5s 0.2s;
}
body span.switcher-login.switcher-l1 input:checked + label {
  left: 70px;
  right: 10px;
  background: #35A78C;
  transition: left 0.4s 0.2s, right 0.5s, background 0.35s -0.1s;
}
/*END OF STUPID WEIRD BUTTON login*/