/*blocks to horizontally & vertically center align*/

.body {
    font-family: "Sansita", sans-serif;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("../img/icons/desktop1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 380px;
    background: url("../img/icons/desktop2.jpeg");
    border-radius: 20px;
}

.title {
    margin: 0;
    padding-top: 70px!important;
    font-size: 40px!important;
    text-align: center;
}

.inner p {
    word-wrap: normal;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-top: 0;
    padding-top: 0;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.resend {
    font-size: 15px!important;
    font-weight: normal!important;
}

input {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 0;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline-color: rgb(53, 167, 140);
}

.container {
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 400px;
    margin: 0 auto;
    background-color: rgba(235, 235, 235, 0.46);
    border-radius: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

button {
    border: 0;
    background-color: transparent;
    color: rgb(13, 122, 97);
    cursor: pointer;
    text-decoration: underline;
}

.center {
    padding-top: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.verify {
    background-color: rgb(53, 167, 140);
    width: 100px;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    color: white;
    font-weight: bold;
    text-decoration: none;
}