.cards {
    max-width: 1200px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    background-color: dodgerblue;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 2rem;
    height: 4rem;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
}

.cards-bg {
    background-color: rgba(38, 168, 170, 0.21);
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}

.cards div:nth-child(4n+0) {
    background-color: rgba(107, 210, 219, 0.67);
}

.cards div:nth-child(4n+1) {
    background-color: rgba(85, 158, 221, 0.74);
}

.cards div:nth-child(4n+2) {
    background-color: rgba(116, 109, 217, 0.58);
}

.cards div:nth-child(4n+3) {
    background-color: rgba(156, 72, 177, 0.54);
}