.cards {
    max-width: 1200px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
}

.card {
    list-style: none;
    color: var(--font-color);
    padding: 2rem;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.cards-bg {
    background-color: rgba(38, 168, 170, 0.21);
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}

.sortBtn {
    background: var(--header-color);
    margin-left: 20px;
    padding: 5px;
    cursor: pointer;
    border: 2px solid var(--header-color);
    color: white;
    border-radius: 5px;
}

.cards li:nth-child(2n+1) {
    background-color: var(--main-color1);
}

.cards li:nth-child(2n+2) {
    background-color: var(--main-color2);
}

#cards li p {
    display: block;
}

#myInput {
    width: 200px;
    border: 2px solid var(--header-color);
    padding: 5px;
    height: 25px;
    border-radius: 5px;
    outline: none;
    color: var(--header-color);
}

#show {
    display: none;
}

.btn {
    margin-left: 20px!important;
}