/*********** exams list ***********/

.exams {
    text-align: left;
    padding: 20px;
    width: 50%;
}

.exams ul {
    padding: 15px;
    list-style: none;
    margin: 0;
}

.exams li {
    width: 100%;
    margin-bottom: 8px;
    padding: 5px 0px 5px 0;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

#recent-exams span {
    color: rgb(99, 99, 99);
    padding: 5px;
}

.exams li p {
    padding: 5px;
    margin: 0;
}

.exams li:nth-child(2n+1) {
    background-color: var(--main-color1);
}

.exams li:nth-child(2n+2) {
    background-color: var(--main-color2);
}


/********** exam details ***************/

.details {
    text-align: left;
    padding: 20px;
    width: 50%;
}

#sec-title-box p {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
}

.details li {
    padding-bottom: 10px;
}

#disconnection-time p {
    color: rgb(212, 36, 36);
    font-weight: normal!important;
}

#examstatus {
    color: rgb(212, 36, 36);
}

.sec-title {
    font-size: 20px!important;
}

#sec-title-box {
    border: 0px;
    padding: 10px;
    border-radius: 3px;
    width: 50%;
    background-color: var(--main-color1);
}