@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');

/************ color variables ***********/

html,
:root {
    --font-color: #002829;
    --title-color: #26a8aa;
    --bg-color: white;
    --header-color: #26a8aa;
    --main-color1: rgba(85, 158, 221, 0.74);
    --main-color2: rgba(116, 109, 217, 0.58);
    --sub-color: rgba(38, 168, 170, 0.22);
    --popup-bg-color: rgba(0, 0, 0, 0.7);
    --left-arrow: url("../img/icons/left-arrow.png");
    --list-menu: url("../img/icons/list.png");
    --time-color: rgb(99, 99, 99);
    /* --background-tile: url('../img/icons/tile_background.png') */
}

[data-theme=dark] {
    --title-color: rgb(33, 128, 141);
    --font-color: white;
    --bg-color: #002829;
    --header-color: #0b3e3f;
    --main-color1: rgba(67, 121, 168, 0.74);
    --main-color2: rgba(86, 81, 160, 0.58);
    --sub-color: rgba(38, 168, 170, 0.22);
    --popup-bg-color: rgba(255, 254, 254, 0.7);
    --time-color: rgb(148, 148, 148);
    /* --background-tile: url('../img/icons/tile_background (1).png') */
}

body {
    overflow-x: hidden;
    height: 100%;
    user-select: none;
    background: var(--background-tile) fixed;
}


/******** scroll bar **********/

 ::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

 ::-webkit-scrollbar-thumb {
    background: rgba(38, 168, 170, 0.22)
}


/********** body css **********/

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    padding: 0;
    margin: 0;
    font-family: 'Sansita', sans-serif;
}

input[type="text"],
textarea {
    background-color: var(--bg-color);
}

::placeholder {
    color: var(--header-color);
    opacity: 1;
}

mark {
    background-color: #ffdd4b;
    text-decoration: underline;
    text-decoration-color: var(--font-color);
}


/*.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #26a8aa;
    position: fixed;
    height: 30px!important;
    overflow: hidden;
    z-index: 10;
}*/

.header {
    width: 100%;
    height: 40px !important;
    background-color: var(--header-color);
    width: 100%;
    z-index: 10;
    margin-top: 0;
    margin-bottom: 0;
    position: fixed;
}

.title {
    color: white;
}

.title span {
    font-size: 25px;
    position: fixed;
    margin-left: 0px;
    margin-top: 2px;
}

.title img {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 80px;
    margin-top: 5px;
    position: fixed;
}

.status {
    display: initial;
    text-align: center;
    width: 100%;
    height: 30px;
    position: fixed;
    padding-top: 10px;
    padding-right: 10px;
    font-size: 20px;
    z-index: 10;
    right: 0px;
    top: 40px;
    color: white;
    background: transparent;
    border-top: 5px solid var(--bg-color);
    border-bottom: 5px solid var(--bg-color);
}

.timeindicator {
    z-index: 10;
    color: black;
    width: fit-content;
    position: fixed;
    font-size: 12px;
    height: 35px;
    top: 45px;
    right: 0px;
    padding: 0px 15px 1px 0px;
    text-align: center;
}

.timeindicator p {
    padding: 0;
    margin: 0;
    color: var(--font-color);
}

.time {
    font-size: 20px !important;
}

.timestamp {
    width: 100%;
    z-index: 10;
    background-color: var(--bg-color);
    position: fixed;
    margin-top: 40px;
    height: 50px !important;
}

.timestamp p {
    text-align: left;
    margin-top: 5px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--sub-color);
}

.mainInner {
    display: table;
    border-spacing: 15px;
    width: 100%;
    padding: 0;
}

.mainInner div {
    display: table-cell;
    border-radius: 40px;
    letter-spacing: 1.25px;
    background-color: var(--sub-color);
    /*border: 15px solid var(--bg-color);*/
}

.button {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    width: 120px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    justify-content: center;
    background-color: var(--header-color);
}

.preloader {
    top: 0;
    left: 0;
    z-index: 8;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


/************serach bar*****************/

.search {
    position: relative;
    display: flex;
    margin-left: 0px;
    padding-top: 5px;
}

.searchTerm {
    width: 200px;
    border: 2px solid #26a8aa;
    border-right: none;
    padding: 5px;
    height: 15px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #26a8aa;
}

.searchButton {
    width: 30px;
    height: 30px;
    border: 2px solid #26a8aa;
    background: url("../img/icons/loupe.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}


/************ containers ***************/

.separator2 {
    position: static;
    padding-top: 90px;
}

.separator3 {
    position: static;
    padding-top: 100px;
}

.container1 {
    position: absolute;
    left: 40px;
    width: 100px;
}

.container2 {
    position: absolute;
    top: 5px;
    right: 120px;
    width: 30px;
    height: 30px;
    background-image: url(../img/icons/refresh.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

.container3 {
    position: absolute;
    top: 9px;
    display: inline-block;
    width: 100px;
    right: 0px;
}

.container4 {
    position: absolute;
    right: 20px;
}


/**************** battery ******************/

.battery {
    width: 100%;
}

.battery p {
    padding-top: 1px;
    margin: 0;
    color: white;
}

#batBody {
    float: left;
    width: 30px;
    height: 20px;
    border: 2px white solid;
    border-radius: 6px;
    margin-top: 0;
    padding-top: 0;
}

.batEnd {
    float: left;
    height: 20px;
    width: 10px;
}

.batEnd div {
    width: 2px;
    height: 10px;
    margin-top: 6px;
    margin-left: 1px;
    background-color: white;
    border: 1px solid white;
    border-radius: 0px 30px 30px 0px;
}

#indicator {
    height: 100%;
    width: 50%;
    border-radius: 1px;
}

#indicator.charging {
    background-color: #4EC259;
    background-image: url("../img/icons/thunder.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 5px;
}

#indicator.battery70 {
    background-color: #69e676;
}

#indicator.battery50 {
    background-color: #f8e538;
}

#indicator.battery20 {
    background-color: #f7a131;
}

#indicator.batterylow {
    background-color: #e72929;
}


/********** hamburger menu ************/

main {
    position: relative;
}

.menu {
    background: var(--header-color);
    height: 100vh;
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    outline: none;
}

.menu .avatar {
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    height: fit-content;
    min-height: 65px;
    /*text-align: center;*/
    overflow: hidden;
}

.menu .avatar img {
    pointer-events: none;
    user-select: none;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    top: 15px;
    position: fixed;
    /*overflow: hidden;*/
    display: inline-block;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
}

.online {
    border: 4px solid #63cc26;
}

.offline {
    border: 4px solid rgb(187, 10, 10);
}

.menu .avatar h2 {
    width: 135px;
    font-size: 18px;
    padding-left: 70px;
    font-weight: normal;
    margin: 0;
    color: white;
    word-wrap: break-word;
    display: inline-block;
}

.menu ul {
    list-style: none;
    padding: 1px 0;
    margin: 0;
}

.menu ul li {
    background-repeat: no-repeat;
    background-position: left 15px center;
    background-size: auto 20px;
    transition: all 0.15s linear;
    cursor: pointer;
    padding: 0.75em 0.75em 0.75em 3em;
}

.menu li span {
    font-size: 15px;
    color: white;
}

.menu ul li.icon-home {
    background-image: url("../img/icons/home\ \(3\).png");
}

.menu ul li.icon-dashboard {
    background-image: url("../img/icons/dashboard.png");
}

.menu ul li.icon-courses {
    background-image: url("../img/icons/graduation-cap\ \(1\).png");
}

.menu ul li.icon-schedule {
    background-image: url("../img/icons/calendar\ \(1\).png");
}

.menu ul li.icon-upload {
    background-image: url("../img/icons/upload.png");
}

.menu ul li.icon-notifications {
    background-image: url("../img/icons/notification.png");
}

.menu ul li.icon-settings {
    background-image: url("../img/icons/settings.png");
}

.menu ul li.icon-help {
    background-image: url("../img/icons/help.png");
}

.menu ul li.icon-logout {
    background-image: url("../img/icons/logout.png");
}

.menu ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu ul li:focus {
    outline: none;
}

@media screen and (max-width: 900px) {
    body {
        padding-left: 0;
    }
    .menu {
        width: 230px;
        box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
        transform: translate3d(-230px, 0, 0);
        transition: all 0.3s ease-in-out;
    }
    .menu .smartphone-menu-trigger {
        width: 40px;
        height: 40px;
        position: absolute;
        left: 100%;
        background: var(--header-color);
        background-image: var(--list-menu);
        background-repeat: no-repeat;
        background-position: center;
    }
    .menu:focus {
        transform: translate3d(0, 0, 0);
        /* box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);*/
    }
    .menu:focus .smartphone-menu-trigger {
        pointer-events: none;
        background-image: var(--left-arrow);
    }
    /*.menu .smartphone-menu-trigger:before {
        content: "";
        width: 50%;
        height: 2px;
        background: #fff;
        border-radius: 10px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }
    .menu .smartphone-menu-trigger:after {
        top: 55%;
        transform: translate3d(-50%, -50%, 0);
    }
    .menu .smartphone-menu-trigger:after {
        content: "";
        width: 50%;
        height: 2px;
        background: #fff;
        border-radius: 10px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }*/
}

@media screen and (min-width: 900px) {
    body {
        padding-left: 90px;
    }
    .menu {
        width: 90px;
    }
    .menu .avatar {
        padding: 0.5em;
        position: relative;
        min-height: 68px;
    }
    .menu .avatar img {
        width: 60px;
    }
    .menu .avatar h2 {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 100px;
        margin: 0;
        min-width: 200px;
        border-radius: 4px;
        background: rgba(0, 0, 0, 0.4);
        transform: translate3d(-20px, -50%, 0);
        transition: all 0.15s ease-in-out;
    }
    .menu .avatar:hover p {
        opacity: 1;
        transform: translate3d(0px, -50%, 0);
    }
    .menu ul li {
        height: 30px;
        background-position: center center;
        background-size: 30px auto;
        position: relative;
    }
    .menu ul li span {
        opacity: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        padding: 0.2em 0.5em;
        border-radius: 4px;
        min-width: 100px;
        top: 50%;
        left: 80px;
        transform: translate3d(-15px, -50%, 0);
        transition: all 0.15s ease-in-out;
    }
    .menu ul li span:before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        left: -5px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid rgba(0, 0, 0, 0.5);
        transform: translateY(-50%);
    }
    .menu ul li:hover span {
        opacity: 1;
        transform: translate3d(0px, -50%, 0);
    }
    .container3 {
        right: 90px;
    }
    .container2 {
        right: 210px;
    }
}

.sec-title {
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 18px;
}

hr {
    height: 3px;
    background-color: var(--sub-color);
    margin-bottom: 15px;
    margin-top: 0px;
    border: 0px;
}


/*************** pop up ***************/

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--popup-bg-color);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 600;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: var(--bg-color);
    border-radius: 5px;
    width: 500px;
    max-height: 300px;
    position: relative;
    transition: all 5s ease-in-out;
    overflow-x: hidden;
    overflow-y: auto;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.popup h4 {
    color: var(--title-color);
    font-weight: bold;
    margin: 2px 2px 10px 2px;
}

#popup table {
    color: var(--font-color);
    text-align: left;
    font-size: 14px;
    text-shadow: none;
}

.center {
    text-align: center;
}

.popup table {
    margin: 0;
}