.body {
    padding: 15px;
}

.collapse {
    background: var(--bg-color);
    margin-bottom: 0.3rem;
}

.collapse-title {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    background-color: rgba(38, 168, 170, 0.22);
}

.error {
    padding: 10px;
    user-select: none;
    background-color: rgba(38, 168, 170, 0.22);
}

.collapse-title::before {
    content: attr(data-after);
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 900;
}

.collapse-body {
    display: none;
    border: 2px solid rgba(38, 168, 170, 0.22);
    border-bottom: 2px solid rgba(38, 168, 170, 0.22);
    margin-top: 3px;
    padding-bottom: 10px;
    padding-top: 3px;
    padding-left: 30px;
}