/******** test/schedule *********/

.test {
    vertical-align: middle;
    width: 50%;
    height: 120px!important;
    text-align: center;
    text-transform: uppercase;
}

.test img {
    margin-top: 10px;
    cursor: pointer;
    width: 50px;
}

.test p {
    font-size: 15px;
    font-weight: bold;
    margin-top: 0;
    text-transform: uppercase;
    color: var(--font-color);
}


/*********** upcomig exams ***********/

.exams {
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.exams ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.exams li {
    padding: 20px;
    margin: 3px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    color: var(--font-color);
}

.exams li:nth-child(2n+0) {
    background-color: var(--main-color1);
}

.exams li:nth-child(2n+1) {
    background-color: var(--main-color2);
}