@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');
@font-face {
    font-family: DancingScript;
    src: url('../fonts/DancingScript-Regular.ttf');
}

.welcome {
    position: absolute;
    height: 400px;
    width: 722px;
}

.logo {
    position: absolute;
    left: 200px;
    top: 190px;
}

.logo img {
    z-index: 10;
    user-select: none;
    /* width: 70px;
    height: 70px; */
}

.appName {
    position: absolute;
    top: 5px;
    left: 20px;
    z-index: 10;
    font-family: DancingScript;
    text-shadow: 3px 3px rgb(175, 201, 219);
    color: #109696;
    font-weight: bold;
    font-size: 70px!important;
}

#frontimg {
    position: absolute;
    pointer-events: none;
    user-select: none;
    width: 300px;
    height: 320px;
    top: 70px;
}

#server-connection {
    position: absolute;
    cursor: pointer;
    z-index: 25;
    color: rgb(110, 110, 110);
    width: 200px;
    height: 60px;
    left: 50px;
    top: 80px;
}

body {
    background-image: url("../img/icons/desktop1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Sansita', sans-serif;
}

#outer {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    min-height: 400px;
    min-width: 732px;
    border-radius: 20px;
    background: url("../img/background.PNG") left bottom no-repeat;
}

#inner {
    position: relative;
}

.switch {
    position: absolute;
    right: 10px;
    top: 10px;
}


/************login section***********/

#sign-in-up,
#server-selection {
    position: absolute;
    left: 290px;
    top: 10px;
    width: 432px;
    height: 380px;
    z-index: 10;
    border-radius: 20px;
    color: rgb(133, 133, 133);
    background-color: rgb(235, 235, 235, 0.46);
}

#server-selection {
    background-color: rgb(235, 235, 235);
    z-index: 12;
    display: none;
}

#sign-in-up p {
    padding: 5px;
    margin: 0;
}

#sign-in,
#sign-up {
    padding: 15px;
    padding-top: 10px;
}

#log-error,
#reg-error {
    color: red;
    font-size: 14px;
}

#sign-in {
    display: block;
}

#sign-up {
    display: none;
}

h1 {
    margin-top: 0px;
    color: rgb(158, 158, 158);
}

.staylogged {
    width: 20px!important;
}

span {
    font-size: 15px;
    font-weight: normal;
}

.user-input {
    width: 320px;
    height: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 15px;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.submit {
    position: absolute;
    bottom: 10px;
    left: 130px;
}

span {
    font-weight: normal;
    font-size: 13px;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: normal;
    color: rgb(110, 110, 110);
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgb(151, 151, 151);
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}


/*******switch button*************/

.content {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    width: 125px;
    transform: translateY(5%);
    padding-left: 100px;
    /*should change*/
}

.switch label,
.toggle {
    height: 2rem;
    border-radius: 12px;
    float: right;
}

.switch label {
    background-color: white;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
}

.toggle {
    position: absolute;
    width: 50%;
    background-color: #19adad;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .15);
    transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.names {
    width: 80%;
    margin: 0;
    padding-left: 15px;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.names p {
    font-size: 13px;
    font-weight: normal;
    padding: 0px!important;
}

.dark {
    opacity: .5;
    margin-top: 6px!important;
    color: rgb(82, 80, 80);
}

.light {
    margin-top: 6px!important;
    color: white;
}


/************ Switch Styles ***********/

[type="checkbox"]:checked+.app .toggle {
    transform: translateX(100%);
    background-color: #19adad;
}

[type="checkbox"]:checked+.app .dark {
    opacity: 1;
    color: white;
}

[type="checkbox"]:checked+.app .light {
    opacity: .5;
    color: rgb(82, 80, 80);
}

::placeholder {
    color: gray;
    font-size: 12px;
    word-wrap: normal;
    /* Most modern browsers support this now. */
}


/*******password visibility************/

form i {
    font-size: 16px;
    margin-left: -35px;
    cursor: pointer;
}


/************ change server ************/

#server-selection h3 {
    font-weight: normal;
    padding-left: 20px;
}

#server-selection input {
    background-color: rgb(235, 235, 235);
}

#connections {
    height: 160px;
    width: 400px;
    overflow-y: scroll;
}

.item {
    margin: 10px;
}

.item span {
    font-size: 12px;
}

.item p {
    color: #fff;
    font-size: 15px;
    width: 340px;
    margin: 0;
    padding: 5px;
    padding-left: 10px;
    margin-left: 10px;
    background-color: #109696;
}

.serverinfo:active {
    background-color: rgb(45, 230, 45);
}

.delete {
    border: none;
    cursor: pointer;
}

.item i {
    font-size: 15px;
    color: rgb(110, 110, 110);
}

.item button {
    margin-left: 15px;
}

#new-server input {
    width: 310px;
    height: 20px;
    margin: 0 0 5px 20px;
    border: 2px solid #109696;
    border-radius: 5px;
}

#new-server button {
    border: none;
    border-radius: 5px;
}

#new-server i {
    font-size: 18px;
    font-weight: bolder;
    color: #fff;
}

#add {
    background-color: rgb(45, 230, 45);
}

#cancle {
    background-color: rgb(216, 43, 43);
}