@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');
body {
    background: url("../img/icons/desktop1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Sansita', sans-serif;
}

#outer {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    min-height: 400px;
    min-width: 700px;
    border-radius: 20px;
    background: url("../img/icons/desktop2.jpeg");
}

#inner {
    position: relative;
}

#welcome {
    position: absolute;
    left: 60px;
    top: 120px;
}

#welcome p {
    padding: 0;
    margin: 0;
    font-size: 50px;
}

.switch {
    position: absolute;
    right: 10px;
    top: 10px;
}


/************login section***********/

#sign-in-up {
    position: absolute;
    left: 300px;
    top: 10px;
    width: 390px;
    height: 380px;
    border-radius: 20px;
    font-weight: bold;
    color: rgb(73, 73, 73);
    background-color: rgb(235, 235, 235, 0.46);
}

#sign-in-up p {
    padding: 3px;
    margin: 0;
}

#sign-in,
#sign-up {
    padding: 10px;
}

#sign-in {
    display: block;
}

#sign-up {
    display: none;
}

h1 {
    margin-top: 0px;
    color: #109696;
}

.staylogged {
    width: 20px!important;
}

span {
    font-size: 15px;
    font-weight: normal;
}

.user-input {
    width: 250px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 12px;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.submit {
    position: absolute;
    bottom: 10px;
    left: 170px;
}

.submit button {
    background-color: #19adad;
    min-width: 100px;
    height: 2rem;
    border-radius: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

span {
    font-weight: normal;
    font-size: 12px;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: normal;
    color: rgb(110, 110, 110);
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgb(151, 151, 151);
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}


/*******switch button*************/

.content {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    width: 125px;
    transform: translateY(5%);
    padding-left: 100px;
    /*should change*/
}

label,
.toggle {
    height: 2rem;
    border-radius: 12px;
    float: right;
}

label {
    background-color: white;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
}

.toggle {
    position: absolute;
    width: 50%;
    background-color: #19adad;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .15);
    transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.names {
    font-size: 13px;
    font-weight: normal;
    width: 83%;
    margin: 0;
    padding-left: 15px;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.dark {
    opacity: .5;
    margin-top: 6px!important;
    color: rgb(82, 80, 80);
}

.light {
    margin-top: 6px!important;
    color: white;
}


/************ Switch Styles ***********/

[type="checkbox"]:checked+.app .toggle {
    transform: translateX(100%);
    background-color: #19adad;
}

[type="checkbox"]:checked+.app .dark {
    opacity: 1;
    color: white;
}

[type="checkbox"]:checked+.app .light {
    opacity: .5;
    color: rgb(82, 80, 80);
}

.Red::placeholder {
    color: red;
    font-size: 12px;
    word-wrap: normal;
    /* Most modern browsers support this now. */
}

.Gray::placeholder {
    color: gray;
    font-size: 12px;
    word-wrap: normal;
    /* Most modern browsers support this now. */
}


/*******password visibility************/

form i {
    font-size: 18px;
    margin-left: -40px;
    cursor: pointer;
}