#calendar button {
    background-color: var(--header-color)!important;
    border: 0px!important;
}

#calendar {
    padding: 10px;
}

#show-event {
    display: none;
}

#popup span {
    color: var(--header-color);
}

#popup table {
    color: var(--font-color);
    text-align: left;
}