#calendar button {
    background-color: var(--header-color)!important;
    border: 0px!important;
}

#calendar {
    padding: 10px;
}

#show-event {
    display: none;
}

#join-exam {
    margin-left: 0px !important;
    border-radius: 0px 5px 5px 0px;
}

#msg {
    font-size: 12px;
}

#display-name {
    width: 200px;
    border: 2px solid rgb(40, 192, 73);
    border-radius: 5px 0px 0px 5px;
    padding: 5px;
    height: 26px;
    margin-right: 0px;
    outline: none;
    background-color: var(--bg-color);
    color: var(--font-color);
}

::placeholder {
    color: rgba(40, 192, 73, 0.61);
}