#gum,
#recorded {
    width: 200px;
    height: 113px;
    border: 2px solid #26a8aa;
}

#name {
    border: 0;
    border-bottom: 2px solid #26a8aa;
    padding: 5px;
    height: 12px;
    outline: none;
    width: 300px;
    font-weight: bold;
    color: var(--font-color);
}

#namelength {
    font-size: 13px;
    color: #26a8aa;
    padding-right: 10px;
}

#record:disabled,
#play:disabled {
    background-color: rgb(185, 183, 183);
}

.separator3 {
    position: static;
    padding-top: 110px;
}

#container {
    text-align: center;
}

#container p {
    text-align: left;
}

#container span {
    text-align: left;
    color: red;
}

video::-webkit-media-controls-panel {
    display: none;
}

.body {
    overflow: hidden;
    height: 90px;
    background-color: var(--sub-color);
    margin: 15px;
    border-radius: 15px;
}

.body p {
    margin: 7px;
}

.profile {
    display: inline-block;
    width: 70px;
    padding: 10px;
}

.info {
    display: inline-block;
}

.settings {
    padding: 0 15px 0 15px;
}

.link {
    width: 100%;
    font-size: 17px;
    border-radius: 5px;
    padding: 10px 0 10px 0;
    cursor: pointer;
    color: var(--font-color);
    background-color: var(--sub-color);
}

.link:before {
    content: "";
    padding-left: 10px;
}

a {
    text-decoration: none;
}


/* avatar*/


/* HIDE RADIO */

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    display: none;
}


/* IMAGE STYLES */

[type=radio]+img {
    cursor: pointer;
}


/* CHECKED STYLES */

[type=radio]:checked+img {
    outline: 2px solid #f00;
}


/*avatr grid*/

.cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 0;
}

.card {
    list-style: none;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

#default {
    text-align: center;
}

.theme {
    float: right;
    margin-right: 8px;
    margin-top: 5px;
}

.theme p {
    display: inline-block;
    padding: 10px;
    padding-top: 0px;
}

.toggle-btn {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
    margin: 0 auto;
    border-radius: 40px;
}

input[type="checkbox"] {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}


/* First toggle btn */

#_1st-toggle-btn span {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    opacity: 1;
    background-color: rgba(38, 168, 170);
    border-radius: 40px;
    transition: 0.2s ease background-color, 0.2s ease opacity;
}

#_1st-toggle-btn span:before,
#_1st-toggle-btn span:after {
    content: '';
    position: absolute;
    top: 2px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    transition: 0.5s ease transform, 0.2s ease background-color;
}

#_1st-toggle-btn span:before {
    background-color: var(--header-color);
    transform: translate(-19px, 0px);
    z-index: 1;
}

#_1st-toggle-btn span:after {
    background-color: white;
    transform: translate(2px, 0px);
    z-index: 0;
}

#_1st-toggle-btn input[type="checkbox"]:checked+span {
    background-color: var(--header-color);
}

#_1st-toggle-btn input[type="checkbox"]:active+span {
    opacity: 0.5;
}

#_1st-toggle-btn input[type="checkbox"]:checked+span:before {
    background-color: var(--header-color);
    transform: translate(18px, -6px);
}

#_1st-toggle-btn input[type="checkbox"]:checked+span:after {
    background-color: var(--bg-color);
    transform: translate(26px, 0px);
}