#gum,
#recorded {
    width: 200px;
    height: auto;
    border: 2px solid #26a8aa;
}

#record,
#play {
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    width: 120px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    justify-content: center;
    background-color: #26a8aa;
}

#record:disabled,
#play:disabled {
    background-color: rgb(185, 183, 183);
}

.separator3 {
    position: static;
    padding-top: 110px;
}

#container {
    text-align: center;
}

#container p {
    text-align: left;
}

#container span {
    text-align: left;
    color: red;
}

video::-webkit-media-controls-panel {
    display: none;
}


/*.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 35px;
    border: 2px solid red;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}*/

.button {
    font-size: 15px;
    padding: 5px;
    color: #26a8aa;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}


/*.button:hover {
    background: #26a8aa;
}*/

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 600;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 500px;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #26a8aa;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}


/* avatar*/


/* HIDE RADIO */

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    display: none;
}


/* IMAGE STYLES */

[type=radio]+img {
    cursor: pointer;
}


/* CHECKED STYLES */

[type=radio]:checked+img {
    outline: 2px solid #f00;
}


/*avatr grid*/

.cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 0;
}

.card {
    list-style: none;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

#btn {
    text-align: center;
    margin-bottom: 20px;
}

#default {
    text-align: center;
}